.container {
  display: flex !important;
  flex-flow: column nowrap;

  .left {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .right {
    width: 100%;
    padding-left: 20px;
  }
}

@media (min-width: 600px) {
  .container {    
    .right {
      margin: 0 auto;
      width: 60%;
    }
  }
}

@media (min-width: 900px) {
  .container {
    flex-flow: row nowrap;
    .left {
      width: 60%;
      margin-bottom: 20px;
    }
  
    .right {
      width: 40%;
    }
  }
}

@media (min-width: 1000px) {
  .container {
    .left {
      width: 65%;
    }
  
    .right {
      width: 35%;
    }
  }
}