@import "~/src/scss/index.scss";

.border {
  border-bottom: 1px solid $border-primary;
}

.navbar {
  background-color: $background-primary;
  vertical-align: bottom;
  .logo {
    width: 190px;
  }
  .search {
    padding: 7px;
  }
}

@media (min-width: 780px) {
  .navbar {
    .logo {
      width: 200px;
    }
    .search {
      width: 350px;
    }
  }
}