@import "~/src/scss/index.scss";

.border {
  border-bottom: 1px solid $border-primary;
}

.navbar {
  background-color: $background-primary;
  .logo {
    max-width: 190px;
  }
}

@media (min-width: 780px) {
  .navbar {
    .logo {
      max-width: 200px; // Ejemplo de cambio de tamaño de logo
    }
    .search {
      margin: 0 50px;
      width: 350px;
    }
  }
}