@import "~/src/scss/index.scss";

.categoriesDropdown {
    display: flex;
    flex-flow: row nowrap;
    color: $text-primary;
    font-size: 12px;
    > i {
        font-size: 15px;
        margin-top: 2%;
        margin-right: 5px;
    }
}

@media (min-width: 1000px) {
  .categoriesDropdown {
      font-size: 14px;
      > i {
          font-size: 18px;
          margin-right: 10px;
      }
  }
}