@import "~/src/scss/index.scss";

.adminButton {
  color: $text-primary;
  font-size: 12px;
  > i {
      font-size: 15px;
      margin-right: 5px;
  }
}

@media (min-width: 1000px) {
  .adminButton {
      font-size: 14px;
      > i {
          font-size: 18px;
          margin-right: 10px;
      }
  }
}