@import "~/src/scss/index.scss";

.address {
  background-color: $background-secondary;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;
  }
}

.title {
  margin-right: 5px;
  font-weight: bold;
  font-size: 16px;
}

.addressInfo {
  color: $text-secondary;
  font-size: smaller;
}

.actions {
  display: flex;
  flex-flow: column nowrap;
  > button {
    padding: 7px !important;
    margin: 5px !important;

    > i {
      color: $text-light;
    }
  }
}

@media (min-width: 600px) {
  .addressInfo {
    font-size: 16px;
  }

  .actions {
    flex-direction: row;
    > button {
      padding: 12px !important;
      margin: 10px 5px !important;
    }
  }
}
