@import "~/src/scss/index.scss";

.basket > h2 {
  margin-bottom: 15px;
  font-size: 18px;
}

.product {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 20px;
  border: 1px solid $border-primary;
  border-radius: 5px;
  padding: 20px 10px;

  > img {
    width: 120px;
    margin: 0 auto;
  }

  > div {
    display: flex;
    flex-direction: column;
    width: 100%;

    .info {
      width: 100%;
      text-align: center;
      padding: 10px 0;

      p {
        font-size: small;
        font-weight: bold;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;

      > span {
        margin: 0 10px;
        font-weight: bold;
        font-size: 20px;
        color: $primary;
      }

      > i {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &:hover {
          color: $danger;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .product {
    flex-direction: row;
    > div {
      flex-direction: row;
      align-items: center;
      .info {
        text-align: start;
        padding: 0 15px;
        p {
          font-size: medium;
        }
      }
    }
  }
}