.container {
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;

  &::-webkit-scrollbar {
    display: none;
  }

  > a {
    font-weight: bold;
    padding-right: 15px;
  }
}