@import "~/src/scss/index.scss";

.container {
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  &::-webkit-scrollbar {
    display: none;
  }

  > a {
    font-weight: bold;
    padding-right: 15px;
    color: $primary;
    text-decoration: none;
  }

  > a:hover {
    color: $primary-hover;
    text-decoration: underline;
  }
}