@import "~/src/scss/index.scss";

.basket {
    position: relative;
    color: $text-primary;
    font-size: 12px;
    > i {
        font-size: 15px;
        margin-right: 5px;
    }
    > div {
        position: absolute;
        top: -12px;
        left: 10px;
    }
}

@media (min-width: 1000px) {
    .basket {
        font-size: 14px;
        > i {
            font-size: 18px;
            margin-right: 10px;
        }
    }
}