@import "~/src/scss/index.scss";

.tabs {
  position: relative;
  margin-top: 50px;

  > div > div {
    padding-right: 5px !important;
    overflow: hidden;
    text-overflow: ellipsis;

    &:first-of-type {
      border-right: 1px solid $border-primary;
    }

    > div {
      border: 0 !important;

      > a {
        padding: 1em 0 !important;
        border: 0 !important;
      }
    }
  }
}

@media (min-width: 600px) {
  .container {
    padding: 20px !important;
  }

  .tabs {
    > div > div {
      padding: 0 20px !important;
      > div {
        > a {
          padding: 1em !important;
        }
      }
    }
  }
}