@import "~/src/scss/index.scss";

.container {
    display: flex;
    margin: 0 -10px;
  }
  
  .category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
    text-align: center;
    flex: 1 1 calc(20% - 20px); // Ajusta el tamaño del contenedor para que sean más responsivos.
    box-sizing: border-box;
    min-width: 177px;
    height: 100%;
    background: radial-gradient(circle closest-corner at bottom, #49CCC4 200%, transparent 51%) no-repeat,
              #01858A;
    background-size: 100% 135%, cover;
    &:hover {
      opacity: 0.6;
    }
  
    > .header {
      margin-top: 10px;
      font-size: 18px;
      color: white;
    }
  }
  