@import "~/src/scss/index.scss";

.wrapper {
  position: relative;
  .container {
    display: flex;
    margin: 0 -10px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .link {
    text-decoration: none;
  }

  .category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    margin: 3px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    width: 130px;
    height: 180px;
    height: 100%;
    background: radial-gradient(circle closest-corner at bottom, #49CCC4 200%, transparent 51%) no-repeat,
                #01858A;
    background-size: 100% 135%, cover;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      opacity: 0.6;
    }
    
    .image {
      height: 130px;
      width: 130px;
    }
  
    > .header {
      font-size: 10px;
      font-weight: bold;
      margin-top: 10px;
      color: $background-primary;
    }
  }
}

@media (min-width: 400px) {
  .wrapper {
    .container {
      .category {
        width: 140px;
      }
    }
  }
}

@media (min-width: 550px) {
  .wrapper {
    .container {
      .category {
        height: 190px;
        width: 155px;
      }
    }
  }
}

@media (min-width: 780px) {
  .category {
    width: 160px;
    height: 200px;
  }

  .image {
    height: 150px;
    width: 150px;
  }

  .scrollButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .scrollButton:first-of-type {
    left: 0;
  }
  
  .scrollButton:last-of-type {
    right: 0;
  }
}

@media (min-width: 780px) {
  .category {
    width: 180px;
    height: 220px;
    > .header {
      font-size: 13px;
    }
  }
}