@import "~/src/scss/index.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
  .imageContainer {
    display: flex;
    flex-direction: column;
    border: 2px dashed $primary;
    min-height: 200px;
    padding: 10px;
    > img {
      width: 95% !important;
      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
    
    > .icon {
      margin: 5px auto;
      display: flex;
      justify-content: center;
    }

    > .info {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      > .text {
        font-size: x-small;
        margin: 5px 0;
        text-align: center;
      }
    }
  }
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    .imageContainer {
      flex-direction: row;
      align-items: center;
      > img {
        width: 30% !important;
      }
    
      > .icon {
        margin: 0 auto;
      }
  
      > .info {
        flex-direction: column;
        justify-content: center;
        width: 20%;
      }
    }
  }
}